<hgroup>
  <h1>GymDex</h1>
  <h3>.Home</h3>
</hgroup>

<h3>Member Services</h3>
<a class="home_button" href="/members/new">Add Member</a>
<a class="home_button" href="/members/search">Search Members</a>
<a class="home_button" href="/members/all">Show All Member</a>


<h3>Session Manager</h3>
<a class="home_button" href="/session/new">Add Session</a>
<a class="home_button" href="/session/search">Search Sessions</a>
<a class="home_button" href="/session/all">Show All Sessions</a>
