<hgroup>
  <h1>GymDex</h1>
  <h3>.Home</h3>
</hgroup>

<h3>Member Services</h3>
<a class="home_button" href="/customer/new">Add Member</a>
<a class="home_button" href="/customer/all">Show All Members</a>

<h3>Session Manager</h3>
<a class="home_button" href="/session/new">Add Session</a>
<a class="home_button" href="/session/all">Show All Sessions</a>
