<hgroup>
  <h1>GymDex</h1>
  <h2>.MemberServices</h2>
</hgroup>

<form action="/customer/<%=@customer.id%>" method="POST">

<label for="Member Details"><h3>Edit Member</h3>
  <h4>Name: </h4><input id="customer" type="text" name="name">
  <h4>Membership Type:</h4><input list="membership_type" id="customer" type="text" name="membership_type">
  <h4>Active?:</h4><input id="membership_status" type="checkbox" name="membership_status">
</label>

<datalist id="membership_type">
  <option value="Premium">
  <option value="Basic">
</datalist>

<br>
<br>
<input type="submit" name="Confirm Edits" value="Confirm Edits">
<a href="/">
<button type="button" name="Home">Home</button>
</a>
<a href="/customer/all">
<button type="button" name="Back">Back</button>
</a>
</form>
