<hgroup>
  <h1>GymDex</h1>
  <h2>.MemberServices</h2>
</hgroup>

<h3>All Members</h3>
<a href="/">
<button type="button" name="Home">Home</button>
</a>
<% for customer in @customers %>
  <h4>Name: </h4><p><%= customer.name %></p>
  <h4>Membership Type: </h4><p><%= customer.membership_type %></p>
  <h4>Membership Status: </h4><p><%= customer.active_member %></p>
  <a href="/customer/<%=customer.id%>/edit">
  <button type="button" name="Edit">Edit</button>
  </a>
  <hr>
<% end %>

<a href="/">
<button type="button" name="Home">Home</button>
</a>
