<hgroup>
  <h1>GymDex</h1>
  <h2>.MemberServices</h2>
</hgroup>

<form action="/customer/all" method="POST">

<label for="Member Details"><h3>Add New Member</h3>
  <h4>Name: </h4><input id="customer" type="text" name="name">
  <h4>Membership Type:</h4><input list="membership_type" id="customer" type="text" name="membership_type">
  <h4>Active?:</h4><input id="membership_status" type="checkbox" name="membership_status">
</label>

<datalist id="membership_type">
  <option value="Premium">
  <option value="Basic">
</datalist>

<br>
<br>
<input type="submit" name="Add Member" value="Add Member">
<br>
<br>
<a href="/">
<button type="button" name="Home">Home</button>
</a>

</form>
