<hgroup>
  <h1>GymDex</h1>
  <h3>.MemberServices</h3>

  <h3>Add New Member</h3>
</hgroup>

<form action="/customers/index" method="POST">

<label for="customer">Member Details</label>
<input id="customer" type="text" name="Name">
<input id="customer" type="text" name="Membership Type">
<input id="customer" type="text" name="Membership Status">




</form>
