<hgroup>
  <h1>GymDex</h1>
  <h2>.MemberServices</h2>
</hgroup>

<h3>Booking Successful!</h3>


<a href="/session/all">
<button type="button" name="All Sessions">All Sessions</button>
</a>

<a href="/">
<button type="button" name="Home">Home</button>
</a>
