<hgroup>
  <h1>GymDex</h1>
  <h2>.MemberServices</h2>
</hgroup>

<form action="/booking/all" method="POST">

<label for="New Booking"><h3>New Booking</h3>
  <h4>Member: </h4><input id="customer" type="text" name="name">

  <h4>Session:</h4><input list="membership_type" id="customer" type="text" name="membership_type">

</label>

<datalist id="membership_type">
  <option value="Premium">
  <option value="Basic">
</datalist>

<br>
<br>
<input type="submit" name="Add Member" value="Add Member">


</form>
