<hgroup>
  <h1>GymDex</h1>
  <h2>.MemberServices</h2>
</hgroup>

<form action="/booking/all" method="POST">

<label for="New Booking"><h3>New Booking</h3>
  <h4>Member: </h4>

  <select id="customer" name="customer_id">
    <%for customer in @customers%>
      <option value="<%=customer.id%>">
          <%=customer.name()%>
      </option>
    <%end%>
  </select>

  <h4>Session:</h4><select id="session" name="session_id">
    <%for session in @sessions%>
      <% if session.session_at_max?() == true%>
      <option value="<%=session.id%>">
          <%=session.name()%>
      </option>
      <%end%>
    <%end%>
  </select>

</label>

<datalist id="session_names">
  <option value="Spin">
  <option value="Body Pump">
  <option value="Yoga">
</datalist>

<br>
<br>
<input type="submit" name="Create Booking" value="Create Booking">
<br>
<br>
<a href="/">
<button type="button" name="Home">Home</button>
</a>
</form>
