<hgroup>
  <h1>GymDex</h1>
  <h2>.MemberServices</h2>
</hgroup>

<form action="/booking/all" method="POST">

<label for="New Booking"><h3>New Booking</h3>
  <h4>Member: </h4><input id="customer" type="text" name="name">

  <h4>Session:</h4><input list="session_names" id="customer" type="text" name="session">

</label>

<datalist id="session_names">
  <option value="Spin">
  <option value="Body Pump">
  <option value="Yoga">
</datalist>

<br>
<br>
<input type="submit" name="Add Member" value="Add Member">
</form>
